/* Map viewer */
.map-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  touch-action: auto;
  font-size: 2rem;
  color: #273b4b;
}
.map {
  padding: 0;
  margin: 0;
  height: 600px;
  width: 100%;
}
.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none !important;
}
.esri-component.esri-zoom.esri-widget {
  margin-bottom: 0;
  box-shadow: none;
  background: none;
}
.esri-widget--button {
  background-color: #a0b128cc;
  color: white;
  border: none !important;
  box-shadow: none !important;
  outline: none;
  font-size: 18px;
  width: 36px;
  height: 36px;
  line-height: 1.1rem;
}
.esri-widget--button:hover {
  background-color: #7c8921;
  color: white;
}
.esri-widget--button.esri-disabled [class*="esri-icon"] {
  color: white;
}
.esri-widget--button.esri-disabled {
  background-color: #cfd893;
  cursor: auto;
}

/* Basemap */
.basemap-container {
  display: flex;
  box-shadow: none !important;
}
.esri-basemap-gallery {
  display: none;
  margin: 0 !important;
}
.esri-basemap-gallery__item:first-child {
  margin: 0;
}
.esri-view-height-small .esri-ui-corner .esri-widget--panel-height-only {
  max-height: 260px;
}
.esri-basemap-gallery__item--selected, .esri-basemap-gallery__item.esri-basemap-gallery__item--selected:hover, .esri-basemap-gallery__item.esri-basemap-gallery__item--selected:focus {
  border-left-color: #7c8921;
  background-color: #a0b1280f;
}
.esri-view-width-greater-than-large .esri-ui-corner .esri-basemap-gallery.esri-component .esri-basemap-gallery__item--selected, .esri-view-width-greater-than-large .esri-ui-corner .esri-basemap-gallery.esri-component .esri-basemap-gallery__item.esri-basemap-gallery__item--selected:hover, .esri-view-width-greater-than-large .esri-ui-corner .esri-basemap-gallery.esri-component .esri-basemap-gallery__item.esri-basemap-gallery__item--selected:focus {
  border-color: #a0b128;
}

/* Measure */
.measurement-container {
  display: flex;
  box-shadow: none !important;
}
.esri-measurement {
  display: block;
  flex-direction: column;
  width: 225px;
}
.measurement-panel {
  display: none;
}
.measurement-buttons {
  display: flex;
  justify-content: space-evenly;
  background: white;
}
.measurement-buttons .esri-widget--button {
  background-color: white;
  color: #a0b128;
  width: 100%;
  border-bottom: solid 4px transparent !important;
}
.measurement-buttons .esri-widget--button.active {
  border-color: #a0b128 !important;
}
.esri-measurement .esri-area-measurement-2d__clear-button, .esri-measurement .esri-distance-measurement-2d__clear-button {
  color: #a0b128;
  border-color: #a0b128;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: white;
}
.esri-measurement .esri-area-measurement-2d__clear-button:hover, .esri-measurement .esri-distance-measurement-2d__clear-button:hover {
  color: white;
  background-color: #a0b128;
}
.esri-measurement p {
  font-size: 1rem;
}
.measurement-coords {
  display: none;
  background-color: white;
  padding: 1rem;
  max-width: 225px;
}

/* Print */
.print-container {
  display: flex;
  box-shadow: none !important;
}
.esri-print {
  display: none;
  max-height: 260px;
}
.esri-print .esri-button {
  color: #a0b128;
  border-color: #a0b128;
  transition: all 0.3s ease-out;
  background-color: white;
}
.esri-print .esri-button:hover {
  color: white;
  background-color: #a0b128;
}

/* Area */
.area-container {
  display: flex;
  box-shadow: none !important;
}
.area-panel {
  display: none;
  background-color: white;
  padding: 1rem;
  width: 260px;
  font-size: 1rem;
}
.area-panel .ccl-form-group:not(:first-of-type) {
  margin-top: 0.5rem;
}
.area-panel fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* Radio */
*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.ccl-form .ccl-form-check-input {
  display: none;
  position: absolute;
  margin-top: .3rem;
  margin-left: -1.25rem;
}
.ccl-form .ccl-form-check-input + .ccl-form-radio-label {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.ccl-form .ccl-form-check-input + .ccl-form-radio-label {
  padding-left: 1.75rem;
}
.ccl-form .ccl-form-check-input + .ccl-form-radio-label::after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0.1666666667rem;
  background: 0 0;
  width: 1rem;
  height: 1rem;
  border: 1px solid #404040;
  border-radius: 2px;
  background-color: white;
  border-radius: 10px;
}
.ccl-form-check-input:checked + .ccl-form-radio-label::after {
  border: solid 1px #a0b128;
}
.ccl-form .ccl-form-check-input:checked + .ccl-form-radio-label:before {
  position: absolute;
  bottom: 0;
  display: inline-block;
  left: 0;
  transform: none;
  right: 0;
  border-radius: 10px;
  width: 0.5rem;
  height: 0.5rem;
  border: none;
  background-color: #a0b128;
  margin: 0.25rem;
  content: '';
  z-index: 1;
  top: 0.1666666667rem;
}
.ccl-form .ccl-form-check-input[disabled] + .ccl-form-radio-label::after, .ccl-form .form-check-input[disabled] + label::after {
  background-color: #eee;
  border: 1px solid #dadada;
  cursor: auto;
}
.ccl-form .ccl-form-check-input[disabled] + .ccl-form-radio-label {
  color: #adb0b8;
  cursor: auto;
}
.ccl-form-radio-label div {
  font-size: 0.95rem;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}


/* Left menu */
.map-menu {
  display: none;
  max-width: min-content;
}
.map-menu * {
  font-size: 1rem;
}
.map-menu.tab-container .tab {
  background: white;
  color: #273b4b;
  font-weight: bold;
  padding: 1rem;
  border-bottom: solid 4px white;
  cursor: pointer;
  margin: 0;
  display: inline-block;
}
.map-menu.tab-container .tab-selected {
  background: white;
  border-bottom: solid 4px #a0b128;
}
.map-menu.tab-container .tabs {
  border-bottom: solid 1px #adb0b8;
  white-space: nowrap;
}
.map-left-menu-container {
  display: flex;
  box-shadow: none !important;
}
.map-menu .ccl-fieldset {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.map-menu .ccl-fieldset .ccl-dropdown__link {
  margin-top: 0;
}
.map-menu .ccl-form-legend {
  line-height: inherit;
}
.map-menu .ccl-expandable__button[aria-expanded="true"]::after {
  content: "\e914";
  transform: rotate(-180deg);
  -webkit-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.map-menu .panels {
  padding: 0;
  height: 440px;
  overflow-y: auto;
  background: #fffffff6;
  width: 100%;
}
.map-menu .panel {
  display: none;
  animation: fadein 0.8s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.map-menu.tab-container .panel-selected {
  display: block;
}
.map-menu-dropdown .ccl-expandable__button {
  color: #212529;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background-color: white;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  padding-right: 2.5rem;
}
.map-menu-dropdown .ccl-expandable__button::after {
  font-family: "ccl-icons";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.map-menu-dropdown .ccl-expandable__button[aria-expanded="false"]::after {
  content: "\e914";
  transform: rotate(0deg);
  -webkit-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.map-menu-dropdown .ccl-expandable__button[aria-expanded="true"]::after {
  content: "\e914";
  transform: rotate(-180deg);
  -webkit-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.map-menu-dropdown .ccl-expandable__button::after {
  color: #a0b128;
  margin-right: 0;
}
.map-menu-dropdown .ccl-expandable__button:hover::after {
  color: #7c8921;
}
.map-menu-dropdown .ccl-expandable__button[aria-expanded="false"] + * {
  display: none;
}
.map-menu-dropdown .ccl-expandable__button[aria-expanded="true"] + * {
  display: block;
}
.map-menu-dropdown > .ccl-expandable__button {
  margin-bottom: 0;
}
.map-menu-dropdown,
.map-menu-product-dropdown {
  margin: 0 1rem;
}
.map-menu-product-dropdown .ccl-expandable__button {
  margin-top: 0;
}
.map-menu-dropdown .map-menu-products-container {
  background-color: white;
}
.map-menu-dropdown .ccl-expandable__button + .ccl-form {
  padding: 0 1rem 0 1rem;
}
.map-menu-dropdown .ccl-form .ccl-form-group {
  margin-top: 0;
  display: flex;
  align-items: center;
}
.map-menu-dropdown .map-menu-dataset {
  margin-bottom: 0.5rem;
}
.map-menu-icon {
  color: #a0b128;
  margin-left: 0.5rem;
  font-size: 0.85rem;
  cursor: pointer;
  text-decoration: none;
}
.map-menu-dropdown i:hover {
  color: #7c8921;
}
.map-menu-product-dropdown {
  margin-right: 0;
}
.map-menu-product-dropdown .map-product-checkbox {
  background-color: white;
}
#active_panel .no-active-datasets:first-child {
  display: none;
}
#active_panel .no-active-datasets:last-child {
  display: block;
  margin: 1rem;
}
.active-dataset {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 0 1rem 1rem 1rem;
  border-bottom: solid 1px #a0b12833;
}
#active_panel .active-dataset:not(:first-of-type) {
  padding: 1rem;
}
.active-dataset i.fa-long-arrow-alt-up {
  visibility: hidden;
}
.active-dataset + .active-dataset i.fa-long-arrow-alt-up {
  visibility: visible;
}
.active-dataset:last-of-type i.fa-long-arrow-alt-down {
  visibility: hidden;
}
.active-dataset-options i {
  margin: 0;
  font-size: 1rem;
  cursor: pointer;
  color: #a0b128;
}
.active-dataset i:hover {
  color: #7c8921;
}
.active-dataset-options > span {
  margin-left: 1rem;
}

/* Download area */
.map-download-area-container {
  position: relative;
}
.map-download-block {
  position: absolute;
  width: 30%;
  max-width: 500px;
  min-width: 350px;
  top: 0;
  left: 0;
  margin-top: 15px;
  margin-left: 15px;
  background-color: white;
  padding: 1.5rem;
}
.map-download-title {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
.map-download-title span {
  color: #a0b128;
}
.map-download-area,
.map-download-resource {
  margin-bottom: 1.5rem;
}
.map-download-header {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.map-download-area .ccl-form-legend + .ccl-form-group {
  margin-top: 0.5rem;
}
.map-download-buttons {
  display: flex;
  justify-content: space-between;
}
.map-download-block .ccl-form-group:not(:first-of-type) {
  margin-top: 0.5rem;
}

/* Legend*/
.legend-panel{
    display: none;
}

.legend-container{
    display: flex
}
